body {
  font-family: sans-serif;
}

html,
.fullscreen {
  height: 100%;
  margin-left: 10;
  padding: 0;
  width: 100%;
  

}
input {
  margin-left:.5em;
  margin-right: 1em;
}
.form_label::after {
  content: ':';
}
@media (max-width: 600px) {
  .row {
    display: inline-flex;
    flex-wrap: nowrap;
    

  }
  .title {
    display: inline-flex;
    flex-wrap: nowrap;
    
  }
  .info {
    display: none;
  }
  .container {
    margin: auto;
  }
}
.row {
  margin-bottom: 1ex;
}

/* Center the content in the browser window */
.container {
  display: flex;
  flex-direction: column;
  
  margin-left: 2em;
  align-content: flex-start;
  gap: 10px;
  /*text-align: center;*/
}

#input_section { margin-top: 2ex;
margin-left: 3px;
margin-bottom: 2ex;}

#output {
  margin: 1ex 1em 1em 1ex;
}
.alc_volume { 
  font-size: smaller; 
}
.shots {
  margin-bottom: 1ex;
}
.shots_label::after {
  content: ": ";

}
.shots_value {
  font-weight: bold;
}